{% extends 'base.html' %}

{% block title %} Detail {% endblock %}

{% block content %}
<h3 style="border-bottom: 3px dashed #EAEAEA; padding-bottom: 10px">Bookmark Detail</h3>
<br>

{{object.site_name}}<br/>
{{object.url}}

<br>
<hr size="7" noshade="noshade"> </hr>

<a href="{% url 'bookmark:update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a>
<a href="{% url 'bookmark:delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete</a>

<br><br>
<a href="{% url 'bookmark:list' %}" >Bookmark List</a>
{% endblock %}