{% extends 'base.html' %}

{% block title %} Questions {% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="container1">
    <h1>{{question.question_text}}</h1>
</div>

<div class="container2">
    {% if error_message %} <p> <strong>{{error_message}}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type ="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <label for ="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
        {% endfor %}
        <br>
        <input type="submit" value="Vote">
    </form>
    <br><br>
    <a href="{% url 'polls:index' %}">Back</a>
</div>

{% endblock %}